<html>
  <h1>Dear LifeSwap Administrator,</h1>
  <p>At your earliest convience please review this newly created swap,
  <a href="http://thelifeswap.com/#/admin/swaps/{{ id }}">Newly created swap</a></p>
  <p><a href="http://thelifeswap.com/#/admin/swaps/pending">View all pending swaps</a></p>
  <p>Sincerely,</p>
  <p>You friendly neighborhood Replicant</p>
</html>
